<h1>Pipes in Angular</h1>
<div>
  <p class="subtitle">Currency Pipe</p>
  <p>Amount: {{ amount | currency}}</p>
  <p>Amount: {{ amount | currency: 'INR'}}</p>
  <p>Amount: {{ amount | currency: 'EUR'}}</p>
</div>
<div>
  <p class="subtitle">Case Pipes</p>
  <p>Please subscribe to {{channelName}}</p>
  <p>Please subscribe to {{channelName | lowercase}}</p>
  <p>Please subscribe to {{channelName | uppercase}}</p>
</div>
<div>
  <p class="subtitle">Percent Pipes</p>
  <p>Score: {{score}}</p>
  <p>Score: {{score | percent}}</p>
</div>
<div>
  <p class="subtitle">Date Pipes</p>
  <p>Today is: {{today}}</p>
  <p>Today is: {{today | date}}</p>
  <p>Today is: {{today | date: 'MM-dd-yyyy'}}</p>
  <p>Today is: {{today | date: 'short'}}</p>
  <a href="https://angular.io/api/common/DatePipe" target="_blank">Go to Documentation</a>
</div>
<div>
  <p class="subtitle">Custom Pipe</p>
  <div style="display:flex">
    <div *ngFor="let name of names">
      <p class="initials">{{name | initials}}</p>
    </div>
  </div>
</div>